@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Big+Shoulders+Inline+Display&family=Josefin+Sans:wght@300&display=block');

.copyright {
   font-family: Trebuchet MS, sans serif; 
   font-size: .85em;
   color: #777
}

.deck {
   color: #888; 
   font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
   font-size: 1.3em; 
   font-weight: normal;
   font-style: italic;
   line-height: 1.8em;
   margin-top: 20px;
   margin-bottom: 30px;
}

.deck a:link {
  color: #485175;
  font-weight: bold;
  text-decoration: none;
}

.deck a:visited {
  color: #485175;
  text-decoration: none;
}

.deck a:hover {
  color: #b99c18;
  text-decoration: none;
}

hr.main {
   color: #d4d4d4;
   background-color: #d4d4d4; 
   width: 100%;
   height: 1px;
   border: 0px; 
   clear: both; 
   margin-top: 30px; 
   margin-bottom: 30px;
}

hr.minor {
   color: #d4d4d4;
   background-color: #d4d4d4; 
   width: 50%;
   height: 1px;
   border: 0px; 
   clear: both; 
   color: #d4d4d4; 
   margin-top: 30px;
   margin-bottom: 30px;
}


